@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900");

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: "Source Sans Pro" !important;
}

body {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /*  background: #4775dd;*/
    background-image: linear-gradient(#85afd9 0%, #0a71ea 50%, #06289b 100%);
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1em;
    letter-spacing: 0.1px;
    color: #32465a;
    text-rendering: optimizeLegibility;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
}

#startScreen {
    height: 83vh;
    margin-top: 17vh;
}

#startScreen, #startScreen *{
    color: white;
    text-align: center;
}

#welcomeToChatbot {
    text-align: center;
    font-weight: 900;
    font-size: 5em;
}

@media screen and (max-width: 1000px) {
    #welcomeToChatbot {
        font-size: 3em;
    }
}

@media screen and (max-width: 500px) {
    #welcomeToChatbot {
        font-size: 2.5em;
    }

    #robotIcon {
        width: 15vh;
        height: 15vh;
    }

    .speech-bubble h2 {
        color: black !important;
        font-size: 1em;
    }
}

#disclaimer {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.0em;
    font-style: italic;
}

#robotIcon {
    width: 30vh;
    height: 30vh;
}

#robotIcon:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.speech-bubble {
    padding: 15px;
    display: inline-block;
    position: relative;
    background: white;
    border-radius: .4em;
    width: 20vw;
}

.speech-bubble:hover {
    opacity: 0.8;
    transition: opacity 0.3s;
}

.speech-bubble h2 {
    color: black !important;
    font-size: 1.5em;
}

.speech-bubble:after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 40px solid transparent;
    border-right-color: white;
    border-left: 0;
    border-bottom: 0;
    margin-top: -20px;
    margin-left: -40px;
}

.hgroup {
    width: 30vw;
}

#chatsection {
    height: 12vh;

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    font-family: "Source Sans Pro" !important;
}

#welcomeToChatbot {
    text-align: center;
    font-weight: 900;
    font-size: 5em;
}

@media screen and (max-width: 1000px) {
    #welcomeToChatbot {
        font-size: 3em;
    }
}

@media screen and (max-width: 500px) {
    #welcomeToChatbot {
        font-size: 2.5em;
    }

    #robotIcon {
        width: 15vh;
        height: 15vh;
    }

    .speech-bubble h2 {
        color: black !important;
        font-size: 1em;
    }
}

@media screen and (max-width: 300px) {
    #welcomeToChatbot {
        font-size: 1em;
    }

    #robotIcon {
        width: 15vh;
        height: 15vh;
    }

    .speech-bubble h2 {
        color: black !important;
        font-size: 1em;
    }
}

#startScreen, #startScreen *{
    color: white;
    text-align: center;
}

#frame {
    width: 95%;
    min-width: 360px;
    max-width: 800px;
    height: 80vh;
    min-height: 300px;
    max-height: 720px;
    background: #E6EAEA;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 360px) {
    #frame {
        width: 100%;
        height: 100vh;
    }
}

.answer-option, .sex, .age {
    float: right;
    margin-left: 10px;
    color: white !important;
    /*    background-color: white !important;*/
    border-radius: 10px;
    font-size: 1em;
    cursor: pointer;
}

.answer-option:hover, .sex:hover, .age:hover {
    cursor: pointer;
}

#frame .content {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width: 735px) {
    #frame .content {
        /*    width: calc(100% - 58px);*/
        min-width: 300px !important;
    }
}

@media screen and (min-width: 900px) {
    #frame .content {
        /*    width: calc(100% - 340px);*/
    }
}

#frame .content .contact-profile {
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #f5f5f5;
}

#frame .content .contact-profile img {
    width: 40px;
    border-radius: 50%;
    float: left;
    margin: 9px 12px 0 9px;
}

#frame .content .contact-profile p {
    float: left;
}

#frame .content .contact-profile .social-media {
    float: right;
}

#frame .content .contact-profile .social-media i {
    margin-left: 14px;
    cursor: pointer;
}

#frame .content .contact-profile .social-media i:nth-last-child(1) {
    margin-right: 20px;
}

#frame .content .contact-profile .social-media i:hover {
    color: #4286f4;
}

#frame .content .messages {
    height: auto;
    min-height: calc(100% - 93px);
    max-height: calc(100% - 93px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    float: left;
}

@media screen and (max-width: 735px) {
    #frame .content .messages {
        max-height: calc(100% - 105px);
    }
}

#frame .content .messages::-webkit-scrollbar {
    width: 8px;
    background: transparent;
}

#frame .content .messages::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
}

#frame .content .messages ul li {
    display: inline-block;
    clear: both;
    float: left;
    margin: 5px -25px 5px -25px;
    width: 100%;
    font-size: 0.9em;
}

#frame .content .messages ul li:nth-last-child(1) {
    margin-bottom: 20px;
}

#frame .content .messages ul li.sent img {
    margin: 6px 8px 0 0;
}

#frame .content .messages ul li.sent p {

    background: #f5f5f5;

}

#frame .content .messages ul li.replies img {
    float: right;
    margin: 6px 0 0 8px;
}

#frame .content .messages ul li.replies p {
    background: #4286f4;
    color: white;
    float: right;
}

#frame .content .messages ul li img {
    background: #E6EAEA;
    color: #E6EAEA;
    width: 25px;
    border-radius: 50%;
    float: left;
}

#frame .content .messages ul li p {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 10px;
    max-width: 205px;
    line-height: 130%;
}

@media screen and (min-width: 735px) {
    #frame .content .messages ul li p {
        max-width: 300px;
    }
}

#frame .content .message-input {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

#frame .content .message-input .wrap {
    position: relative;
}

#frame .content .message-input .wrap input {
    font-family:  "Source Sans Pro", sans-serif;
    float: left;
    border: none;
    width: calc(100% - 90px);
    padding: 11px 32px 10px 8px;
    font-size: 0.8em;
    color: #32465a;
}

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap input {
        padding: 15px 32px 16px 8px;
    }
}

#frame .content .message-input .wrap input:focus {
    outline: none;
}

#frame .content .message-input .wrap .attachment {
    position: absolute;
    right: 60px;
    z-index: 4;
    margin-top: 10px;
    font-size: 1.1em;
    color: #435f7a;
    opacity: .5;
    cursor: pointer;
}

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap .attachment {
        margin-top: 17px;
        right: 65px;
    }
}

#frame .content .message-input .wrap .attachment:hover {
    opacity: 1;
}

#frame .content .message-input .wrap button {
    float: right;
    border: none;
    width: 50px;
    padding: 12px 0;
    cursor: pointer;
    background: #32465a;
    color: #f5f5f5;
}

@media screen and (max-width: 735px) {
    #frame .content .message-input .wrap button {
        padding: 16px 0;
    }
}

#frame .content .message-input .wrap button:hover {
    background: #435f7a;
}

#frame .content .message-input .wrap button:focus {
    outline: none;
}

.chatbot {
    height: 95vh;
}

.hide {
    display:none;
}

@keyframes blink {
    0% {
        opacity: .2;
    }
    20% {
        opacity: 1;
    }
    100% {
        opacity: .2;
    }
}

.saving span {
    animation-name: blink;
    animation-duration: 1.4s;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    font-size: 1.5em;
}

.saving span:nth-child(2) {
    animation-delay: .2s;
}

.saving span:nth-child(3) {
    animation-delay: .4s;
}

.diagnoses {
    margin-top: 4em;
    width: 95%;
    min-width: 360px;
    max-width: 800px;
    background-color: rgb(230, 234, 234);
    padding: 1.5em;
    margin-bottom: 6em;
}

.diagnoses {
    display: none;
}

.disease {
    background-color: white;
    border-radius: 5px;
    padding: 0.4em 1em 1em 1em;
    margin: 1.5em 0px;
}

.disease h4 {
    font-weight: 800;
    border-bottom: 1px solid #888;
    line-height: 2em;
    margin-bottom: 10px;
}

#resultsection {
    height: 3em;
}

footer {
    text-align: center;
    margin-bottom: 2em;
    color: white !important;
    text-align: center;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
}

footer p {color: white !important;    font-family: monospace !important;
}